.my-navbar-theme{
	background: #ef5350;
	color: white;
}
.facebook-theme{
	color: #3b5998;
}
.google-plus-theme{
	color: #DB4437;
}
.twitter-theme{
	color: #1DA1F2;
}
.icon-theme{
	color: #009688;
}
.my-navbar-icon{
	color: white;
}