<div class="page" data-name="404">
	<div class="">
		<!--Navbar-->	
		<div class="navbar my-navbar-theme">
			<div class="navbar-inner sliding">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back my-navbar-icon"></i>
						<span class="if-not-md">Back</span>
					</a>
				</div>
				<div class="title">Message</div>
			</div>
		</div>
		
		<div class="page-content">
			<div class="block" style="text-align: center">
				<i class="f7-icons icon-theme"
					style="font-size: 10em;"
				>
					rocket
				</i>
			</div>
			<div class="block" style="text-align: center">
				<p>
					Sorry, this page is on development stage
				</p>
			</div>
		</div>
	</div>
</div>