<template>
	<div class="page" data-name="attractions">
		
		<!--Navbar-->	
		<div class="navbar my-navbar-theme">
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link icon-only panel-open" data-panel="left">
					<i class="f7-icons my-navbar-icon">bars</i>
				</a>
			</div>
			<div class="title sliding">Attractions</div>
			<div class="right">
				<a class="link icon-only searchbar-enable" data-searchbar=".searchbar-attractions">
					<i class="icon f7-icons my-navbar-icon">search</i>
				</a>
            </div>
			<form data-search-container=".attraction-list" data-search-in=".attraction-name" class="searchbar searchbar-expandable searchbar-attractions searchbar-init">
				<div class="searchbar-inner">
					<div class="searchbar-input-wrap">
						<input type="search" placeholder="Search attractions"/>
						<i class="searchbar-icon"></i>
						<span class="input-clear-button"></span>
					</div>
					<span class="searchbar-disable-button if-not-aurora">Cancel</span>
				</div>
			</form>
		</div>
		</div>
		
		<!--Tabs-->
		<div class="toolbar tabbar tabbar-labels toolbar-bottom">
			<div class="toolbar-inner">
				<a href="#all" class="tab-link tab-link-active">
					<i class="icon fas fa-cubes"></i>
					<span class="tabbar-label">All</span>
				</a>
				<a href="#beach" class="tab-link">
					<i class="icon fas fa-umbrella-beach">
					</i>
					<span class="tabbar-label">Beach</span>
				</a>
				<a href="#nature" class="tab-link">
					<i class="icon fas fa-leaf">
					</i>
					<span class="tabbar-label">Nature</span>
				</a>
				<a href="#food" class="tab-link">
					<i class="icon fas fa-utensils">
					</i>
					<span class="tabbar-label">Food</span>
				</a>
			</div>
		</div>
		
		<div class="tabs attraction-list">
			<div id="all" class="page-content tab tab-active">
				<div class="block-title">
					All Attractions
				</div>
				<div class="block">
					<div class="list media-list">
						<ul>
							{{#if loading}}
								<li class="item-content skeleton-text skeleton-effect-fade">
									<div class="item-media">
										<div class="skeleton-block" style="width: 70px; height: 70px;"></div>
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Full Name</div>
										</div>
										<div class="item-subtitle">Position</div>
										<div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit. Aliquam vestibulum vitae lorem ac iaculis. Praesent nec pharetra massa, at blandit lectus. Sed tincidunt, lectus eu convallis elementum, nibh nisi aliquet urna, nec imperdiet felis sapien at enim.</div>
									</div>
								</li>
								<li class="item-content skeleton-text skeleton-effect-fade">
									<div class="item-media">
										<div class="skeleton-block" style="width: 70px; height: 70px;"></div>
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Full Name</div>
										</div>
										<div class="item-subtitle">Position</div>
										<div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit. Aliquam vestibulum vitae lorem ac iaculis. Praesent nec pharetra massa, at blandit lectus. Sed tincidunt, lectus eu convallis elementum, nibh nisi aliquet urna, nec imperdiet felis sapien at enim.</div>
									</div>
								</li>
							{{else}}
								{{#each attractions}}
									<li>
										<a href="/view_attraction/{{this.attractionId}}" class="item-link item-content">
											{{#if this.imageUrl}}
												<div class="item-media"><img src="{{../../api.imgUrl}}{{this.imageUrl}}" width="70" height="70"/></div>
											{{else}}
												<div class="item-media"><img src="img/picture.svg" width="70" height="70"/></div>
											{{/if}}
											<div class="item-inner">
												<div class="item-title-row">
													<div class="item-title attraction-name">{{this.attractionName}}</div>
													<div class="item-after">view</div>
												</div>
											<div class="item-subtitle">{{this.address}}</div>
											<div class="item-text">
												Category: {{this.categoryName}}
											</div>
											</div>
										</a>
									</li>
								{{/each}}
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
			<div id="beach" class="page-content tab">
				<div class="block-title">
					Beach
				</div>
				<div class="block">
					<div class="list media-list">
						<ul>
							{{#if loading}}
								<li class="item-content skeleton-text skeleton-effect-fade">
									<div class="item-media">
										<div class="skeleton-block" style="width: 70px; height: 70px;"></div>
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Full Name</div>
										</div>
										<div class="item-subtitle">Position</div>
										<div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit. Aliquam vestibulum vitae lorem ac iaculis. Praesent nec pharetra massa, at blandit lectus. Sed tincidunt, lectus eu convallis elementum, nibh nisi aliquet urna, nec imperdiet felis sapien at enim.</div>
									</div>
								</li>
								<li class="item-content skeleton-text skeleton-effect-fade">
									<div class="item-media">
										<div class="skeleton-block" style="width: 70px; height: 70px;"></div>
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Full Name</div>
										</div>
										<div class="item-subtitle">Position</div>
										<div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit. Aliquam vestibulum vitae lorem ac iaculis. Praesent nec pharetra massa, at blandit lectus. Sed tincidunt, lectus eu convallis elementum, nibh nisi aliquet urna, nec imperdiet felis sapien at enim.</div>
									</div>
								</li>
							{{else}}
								{{#each attractions}}
									{{#js_if "this.categoryId == 2"}}
										<li>
											<a href="/view_attraction/{{this.attractionId}}/{{this.attractionName}}" class="item-link item-content">
												{{#if this.imageUrl}}
													<div class="item-media"><img src="{{../../../api.imgUrl}}{{this.imageUrl}}" width="70" height="70"/></div>
												{{else}}
													<div class="item-media"><img src="img/picture.svg" width="70" height="70"/></div>
												{{/if}}
												<div class="item-inner">
													<div class="item-title-row">
														<div class="item-title attraction-name">{{this.attractionName}}</div>
														<div class="item-after">view</div>
													</div>
												<div class="item-subtitle">{{this.address}}</div>
												<div class="item-text">
													Category: {{this.categoryName}}
												</div>
												</div>
											</a>
										</li>
									{{/js_if}}
								{{/each}}
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
			<div id="nature" class="page-content tab">
				<div class="block-title">
					Nature
				</div>
				<div class="block">
					<div class="list media-list">
						<ul>
							{{#if loading}}
								<li class="item-content skeleton-text skeleton-effect-fade">
									<div class="item-media">
										<div class="skeleton-block" style="width: 70px; height: 70px;"></div>
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Full Name</div>
										</div>
										<div class="item-subtitle">Position</div>
										<div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit. Aliquam vestibulum vitae lorem ac iaculis. Praesent nec pharetra massa, at blandit lectus. Sed tincidunt, lectus eu convallis elementum, nibh nisi aliquet urna, nec imperdiet felis sapien at enim.</div>
									</div>
								</li>
								<li class="item-content skeleton-text skeleton-effect-fade">
									<div class="item-media">
										<div class="skeleton-block" style="width: 70px; height: 70px;"></div>
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Full Name</div>
										</div>
										<div class="item-subtitle">Position</div>
										<div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit. Aliquam vestibulum vitae lorem ac iaculis. Praesent nec pharetra massa, at blandit lectus. Sed tincidunt, lectus eu convallis elementum, nibh nisi aliquet urna, nec imperdiet felis sapien at enim.</div>
									</div>
								</li>
							{{else}}
								{{#each attractions}}
									{{#js_if "this.categoryId == 3"}}
										<li>
											<a href="/view_attraction/{{this.attractionId}}/{{this.attractionName}}" class="item-link item-content">
												{{#if this.imageUrl}}
													<div class="item-media"><img src="{{../../../api.imgUrl}}{{this.imageUrl}}" width="70" height="70"/></div>
												{{else}}
													<div class="item-media"><img src="img/picture.svg" width="70" height="70"/></div>
												{{/if}}
												<div class="item-inner">
													<div class="item-title-row">
														<div class="item-title attraction-name">{{this.attractionName}}</div>
														<div class="item-after">view</div>
													</div>
												<div class="item-subtitle">{{this.address}}</div>
												<div class="item-text">
													Category: {{this.categoryName}}
												</div>
												</div>
											</a>
										</li>
									{{/js_if}}
								{{/each}}
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
			<div id="food" class="page-content tab">
				<div class="block-title">
					Food
				</div>
				<div class="block">
					<div class="list media-list">
						<ul>
							{{#if loading}}
								<li class="item-content skeleton-text skeleton-effect-fade">
									<div class="item-media">
										<div class="skeleton-block" style="width: 70px; height: 70px;"></div>
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Full Name</div>
										</div>
										<div class="item-subtitle">Position</div>
										<div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit. Aliquam vestibulum vitae lorem ac iaculis. Praesent nec pharetra massa, at blandit lectus. Sed tincidunt, lectus eu convallis elementum, nibh nisi aliquet urna, nec imperdiet felis sapien at enim.</div>
									</div>
								</li>
								<li class="item-content skeleton-text skeleton-effect-fade">
									<div class="item-media">
										<div class="skeleton-block" style="width: 70px; height: 70px;"></div>
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">Full Name</div>
										</div>
										<div class="item-subtitle">Position</div>
										<div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lobortis et massa ac interdum. Cras consequat felis at consequat hendrerit. Aliquam vestibulum vitae lorem ac iaculis. Praesent nec pharetra massa, at blandit lectus. Sed tincidunt, lectus eu convallis elementum, nibh nisi aliquet urna, nec imperdiet felis sapien at enim.</div>
									</div>
								</li>
							{{/if}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	
	</div>
</template>
<script>
	return{
		data: function(){
			return{
				loadedOnce: false,
				api: {
					url: "https://zencubeph.com/dotr/api/searchAttraction",
					imgUrl: "https://zencubeph.com/dotr/",
					requestData: {
						"auth": {
							"version": "1",
							"username": "apiUser",
							"dateTimeStamp": "2019-08-25T09:54:10Z",
							"accessToken": "cef4736ed2b406c14d6797e5647caaa7"
						},
						"parameter": {
							"attractionName": ""
						}
					}
				},
				loading: null,
				attractions: null
			}
		},
		methods: {
			loadData: function(){
				var self = this;
				var app = self.$app;
				
				wire.post(
					self.api.url,
					self.api.requestData,
					function(data){
						var json = JSON.parse(data);
						if(json.response.code == 200){
							self.$setState({
								attractions: json.data,
								loading: false,
								loadedOnce: true
							});
						}else{
							app.dialog.alert("Please try again!");
						}
					},
					app
				);
			}
		},
		on: {
			pageAfterIn: function(){
				var self = this;
				if(!self.loadedOnce){				
					setTimeout(function(){
						self.$setState({
							loading: true
						});
						self.loadData();
					},500);
				}
			}
		}
	}
</script>