<template>
	<div class="page" data-name="direction">
		
		<!--Navbar-->
		<div class="navbar my-navbar-theme">
			<div class="navbar-inner sliding">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back my-navbar-icon"></i>
						<span class="if-not-md">Back</span>
					</a>
				</div>
				<div class="title my-navbar-title">Direction</div>
			</div>
		</div>
		
		<div class="page-content">
			<div id="map"></div>
		</div>
	</div>
</template>
<script>
	return{
		data: function(){
			return{
				userlocation: {},
				destination:{},
				map: null
			}
		},
		methods: {
			load: function(){
				var self = this;
				var app = self.$app;
				
				app.dialog.preloader("Finding best route!");
				
				var direction = new Direction(self.userlocation, self.destination);
				direction.attachMap(document.getElementById('map'));
				
				
				direction.showDirection(function(){
					//success callback
					app.dialog.close();
					
				}, function(message){
					//fail callback
					app.dialog.close();
					app.dialog.alert("There is a problem in getting direction, Pls try again");
				});
			}
		},
		on: {
			pageInit: function(e, page){
				var self = this;
				var app = self.$app;
				var ulat = page.route.params.ulat;
				var ulng = page.route.params.ulng;
				var dlat = page.route.params.dlat;
				var dlng = page.route.params.dlng;
				
				
				var userlocation = {
					lat: ulat,
					lng: ulng
				};
				
				var destination = {
					lat: dlat,
					lng: dlng
				};
				
				self.$setState({
					userlocation: userlocation,
					destination: destination
				});
			},
			pageAfterIn: function(){
				var self = this;
				self.load();
			}
		}
	}
</script>