<template>
	<div data-name="home" class="page">
		<!--Navbar-->	
		<div class="navbar my-navbar-theme">
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link icon-only panel-open" data-panel="left">
					<i class="f7-icons my-navbar-icon">bars</i>
				</a>
			</div>
			<div class="title sliding">Planner</div>
			<div class="right">
				<a class="link icon-only searchbar-enable" data-searchbar=".searchbar-components">
					<i class="icon f7-icons my-navbar-icon">search</i>
				</a>
            </div>
			<form data-search-container=".components-list" data-search-in="a" class="searchbar searchbar-expandable searchbar-components searchbar-init">
				<div class="searchbar-inner">
					<div class="searchbar-input-wrap">
						<input type="search" placeholder="Search Trips"/>
						<i class="searchbar-icon"></i>
						<span class="input-clear-button"></span>
					</div>
					<span class="searchbar-disable-button if-not-aurora">Cancel</span>
				</div>
			</form>
		</div>
		</div>
		
		<!--Tabs-->
		<div class="toolbar tabbar tabbar-labels toolbar-bottom">
			<div class="toolbar-inner">
				<a href="#tab-1" class="tab-link tab-link-active">
					<i class="icon f7-icons">list</i>
					<span class="tabbar-label">My trips</span>
				</a>
				<a href="#tab-2" class="tab-link">
					<i class="icon f7-icons">map
						<span class="badge color-red">5</span>
					</i>
					<span class="tabbar-label">Itenerary</span>
				</a>
			</div>
		</div>
		
		<div class="tabs">
			<div id="tab-1" class="page-content tab tab-active">
				<div class="block-title">
					My Trips
				</div>
				<div class="block">
					
				</div>
			</div>
			<div id="tab-2" class="page-content tab">
				<div class="block-title">
					Itenerary
				</div>
				<div class="block">

				</div>
			</div>
		</div>
	</div>
</template>
<script>
	return{
		data: function(){
			return{
				loading: true,
			}
		},
		on: {
			pageInit: function(){
				var self = this;
				var app = self.$app;
			}
		}
	}
</script>