<template>
	<div class="page" data-name="view-attraction">
		
		<!--Navbar-->
		<div class="navbar my-navbar-theme">
			<div class="navbar-inner sliding">
				<div class="left">
					<a href="#" class="link back">
						<i class="icon icon-back my-navbar-icon"></i>
						<span class="if-not-md">Back</span>
					</a>
				</div>
				<div class="title my-navbar-title">{{name}}</div>
			</div>
		</div>
		
		<div class="page-content">
			{{#if loading}}
				<div class="skeleton-block" style="background: url(./img/surf_town.jpg) no-repeat center bottom; background-size: cover; height: 240px"></div>
				<div class="block-title skeleton-text skeleton-effect-fade">
					Name
				</div>
				<div class="block skeleton-text skeleton-effect-fade">
					Hello love goodbye
				</div>
				<div class="block-title skeleton-text skeleton-effect-fade">
					Name
				</div>
				<div class="block skeleton-text skeleton-effect-fade">
					Hello love goodbye
				</div>
			{{else}}
				{{#description}}
					{{#js_if "this.Images.length > 0"}}
						<div class="lazy lazy-fade-in demo-lazy" style="background: url({{../../image}}{{this.Images[0].imageUrl}}) no-repeat center bottom; background-size: cover; height: 240px"></div>
					{{else}}
						<div class="lazy lazy-fade-in demo-lazy" style="background: url(./img/picture.svg) no-repeat center bottom; background-size: cover; height: 240px"></div>
					{{/js_if}}
					
					<div class="block-title">
						Tags
					</div>
					<div class="block block-strong">
						<div class="chip">
							<div class="chip-media bg-color-green">
								<i class="icon fas fa-map-marker-alt"></i>
							</div>
						  <div class="chip-label">{{address}}</div>
						</div>
						<div class="chip">
							<div class="chip-media bg-color-blue">
								<i class="icon fab fa-cloudsmith"></i>
							</div>
						  <div class="chip-label">{{Category}}</div>
						</div>
						<div class="chip">
							<div class="chip-media bg-color-red">
								<i class="icon fab fa-hubspot"></i>
							</div>
						  <div class="chip-label">{{Type}}</div>
						</div>
					</div>
					<div class="block-title">
						Location Summary
					</div>
					<div class="block">
						{{attractionDescription}}
					</div>
					<div class="block">
						<button @click="map({{latCoordinate}},{{longCoordinate}})" class="col button button-fill">
							Get Direction
						</button>
					</div>
				{{/description}}
			{{/if}}
		</div>
	</div>
</template>
<script>
	return{
		data: function(){
			return{
				loading: null,
				name: '',
				image: "https://zencubeph.com/dotr/",
				api: {
					url: "https://zencubeph.com/dotr/api/getAttraction",
					requestData: {
						"auth": {
							"version": "1",
							"username": "apiUser",
							"dateTimeStamp": "2019-08-25T09:54:10Z",
							"accessToken": "93951b6a85950e4753150dc2d89554c3"
						},
						"parameter": {
							"attractionId": null
						}
					}
				},
				description: null
			}
		},
		methods: {
			load: function(){
				var self = this;
				var app = self.$app;
				
				wire.post(
					self.api.url,
					self.api.requestData,
					function(data){
						var response = JSON.parse(data);
						if(response.response.code == 200){
							self.$setState({
								description: response.data,
								loading: false
							});
						}else{
							app.dialog.alert(response.response.message);
						}
					},
					app
				);
			},
			map: function(lat, lng){
				var self = this;
				var app = self.$app;
				
				app.dialog.preloader("Getting user location..");
				navigator.geolocation.getCurrentPosition(function(position){
					var lat = position.coords.latitude;
					var lng = position.coords.longitude;
					app.dialog.close();
					
					mainView.router.navigate({
						name: 'map',
						params: {
							ulat: lat,
							ulng: lng,
							dlat: self.description.latCoordinate,
							dlng: self.description.longCoordinate
						}
					});
				}, function(error){
					switch(error.code) {
						case error.PERMISSION_DENIED:
							app.dialog.alert("Sorry but we need your location to proceed");
							break;
						case error.POSITION_UNAVAILABLE:
							app.dialog.alert("Location is not available for this device");
							break;
						case error.TIMEOUT:
							app.dialog.alert("Sorry but the request has timed out");
							break;
						case error.UNKNOWN_ERROR:
							app.dialog.alert("An unknown error has occured");
							break;
					}
				});
			}
		},
		on: {
			pageAfterIn: function(){
				var self = this;
				
				self.$setState({
					loading: true
				});
				
				self.load();
			},
			pageInit: function(e, page){
				var self = this;
				var locationId = page.route.params.id;
				self.api.requestData.parameter.attractionId = locationId.toString();
			}
		}
	}
</script>